table {
  border: 1px solid black;
  width: 97%;
  margin-top: 20px;
  margin-left: 10px;
}

th {
  border-bottom: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(210, 203, 203);
  font-size: 16px;
}

td {
  text-align: center;
}

.add_container {
  margin-top: 30px;
  margin-left: 10px;
}

.add_form_container {
  margin-top: 30px;
  margin-left: 10px;
  display: none;
}

.el_container {
  display: flex;
  margin-bottom: 8px;
}

.el_label {
  width: 80px;
}

.addBtn_container {
  margin-left: 10px;
  margin-top: 30px;
}

.addEmpButton {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
}
.addEmpButton:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}
.addEmpButton:active {
  position: relative;
  top: 1px;
}

.addEmpButton:disabled {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #a3a4a6 5%, #909399 100%);
  background-color: #a3a4a6;
  border: 1px solid #d7d8db;
  text-shadow: 0px 1px 0px #5a5b5c;
}

.cancelButton {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #a3a4a6 5%, #909399 100%);
  background-color: #a3a4a6;
  border-radius: 6px;
  border: 1px solid #d7d8db;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5a5b5c;
}
.cancelButton:hover {
  background: linear-gradient(to bottom, #909399 5%, #a3a4a6 100%);
  background-color: #909399;
}
.cancelButton:active {
  position: relative;
  top: 1px;
}

.error_txt {
  display: none;
  color: red;
  margin-left: 10px;
}

.input_err {
  border: 1px solid red;
}
